{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="{%static '/profile/images/favicon.ico' %}" rel="icon" />
<title>SilverPay | The Digital Money Wallet</title>
<meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="{% static '/profile/vendor/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/profile/vendor/font-awesome/css/all.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/profile/css/stylesheet.css' %}" />
</head>
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  <!-- Header
  ============================================= -->
  <header id="header">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start"> 
          <!-- Logo
          ============================= -->
          <div class="logo"> <a class="d-flex" href="index.html" title="Payyed - HTML Template"><img src="{%static '/profile/images/Logo1.png' %}" alt="SilverPay" /></a> </div>
          <!-- Logo end --> 
          <!-- Collapse Button
          ============================== -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
          <!-- Collapse Button end --> 
          
          <!-- Primary Navigation
          ============================== -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/transactions/">Transactions</a></li>
                <li><a href="send-money.html">Send/Request</a></li>
                <li><a href="help.html">Help</a></li>
              </ul>
            </div>
          </nav>
          <!-- Primary Navigation end --> 
        </div>
        <div class="header-column justify-content-end"> 
          <!-- Login & Signup Link
          ============================== -->
          <nav class="login-signup navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="active"><a href="/profile-notifications/">Profile</a> </li>
              <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-outline-primary shadow-none d-none d-sm-block" href="/logout/">Sign out</a></li>
            </ul>
          </nav>
          <!-- Login & Signup Link end --> 
        </div>
      </div>
    </div>
  </header>
  <!-- Header End --> 
  
  <!-- Secondary menu
  ============================================= -->
  <div class="bg-primary">
    <div class="container d-flex justify-content-center">
      <ul class="nav secondary-nav">
        <li class="nav-item"> <a class="nav-link" href="/profile/">Account</a></li>
        <li class="nav-item"> <a class="nav-link active" href="profile-notifications.html">Notifications</a></li>
      </ul>
    </div>
  </div>
  <!-- Secondary menu end --> 
  
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <div class="row"> 
        <!-- Left Panel
        ============================================= -->
        <aside class="col-lg-3"> 
          
          <!-- Profile Details
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="images/profile-thumb.jpg" alt="">
              <div class="profile-thumb-edit custom-file bg-primary text-white" data-toggle="tooltip" title="Change Profile Picture"> <i class="fas fa-camera position-absolute"></i>
                <input type="file" class="custom-file-input" id="customFile">
              </div>
            </div>
            <p class="text-3 font-weight-500 mb-2">Hello, Md Fahad</p>
            <p class="mb-2"><a href="profile.html" class="text-5 text-light" data-toggle="tooltip" title="Edit Profile"><i class="fas fa-edit"></i></a></p>
          </div>
          <!-- Profile Details End --> 
          
          <!-- Available Balance
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
            <h3 class="text-9 font-weight-400">$2956.00</h3>
            <p class="mb-2 text-muted opacity-8">Available Balance</p>
            <hr class="mx-n3">
            <div class="d-flex"><a href="withdraw-money.html" class="btn-link mr-auto">Withdraw</a> <a href="deposit-money.html" class="btn-link ml-auto">Deposit</a></div>
          </div>
          <!-- Available Balance End --> 
          
          <!-- Need Help?
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
            <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>
            <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
              Our experts are here to help!.</p>
            <a href="#" class="btn btn-primary btn-block">Chate with Us</a> </div>
          <!-- Need Help? End --> 
          
        </aside>
        <!-- Left Panel End --> 
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9">
          
          <!-- Notifications
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400">Notifications</h3>
            <p class="text-muted">Select subscriptions to be delivered to <span class="text-body">smithrhodes1982@gmail.com</span></p>
            <hr class="mx-n4">
            <form id="notifications" method="post">
              <div class="form-check custom-control custom-checkbox">
                <input id="announcements" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="announcements">Announcements</label>
                <p class="text-muted line-height-3 mt-2">Be the first to know about new features and other news.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="sendPayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="sendPayment">Send payment</label>
                <p class="text-muted line-height-3 mt-2">Send an email when I send a payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="receiveApayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="receiveApayment">Receive a payment</label>
                <p class="text-muted line-height-3 mt-2">Send me an email when I receive a payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="requestPayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="requestPayment">Request payment</label>
                <p class="text-muted line-height-3 mt-2">Send me an email when i request payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="problemWithPayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="problemWithPayment">Have a problem with a payment</label>
                <p class="text-muted line-height-3 mt-2">Send me an email when have a problem with a payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="specialOffers" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="specialOffers">Special Offers</label>
                <p class="text-muted line-height-3 mt-2">Receive last-minute offers from us.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="reviewSurveys" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="reviewSurveys">Review Surveys</label>
                <p class="text-muted line-height-3 mt-2">Share your payment experience to better inform users.</p>
              </div>
              <hr class="mx-n4">
              <button class="btn btn-primary mt-1" type="submit">Save Changes</button>
            </form>
          </div>
          <!-- Notifications End --> 
          
        </div>
        <!-- Middle Panel End --> 
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg d-lg-flex align-items-center">
          <ul class="nav justify-content-center justify-content-lg-start text-3">
            <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
          </ul>
        </div>
        <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
          <ul class="social-icons justify-content-center">
            <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
            <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright pt-3 pt-lg-2 mt-2">
        <div class="row">
          <div class="col-lg">
            <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="#">Payyed</a>. All Rights Reserved.</p>
          </div>
          <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
            <ul class="nav justify-content-center">
              <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
<script src="{% static '/profile/vendor/jquery/jquery.min.js' %}"></script> 
<script src="{% static '/profile/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
<script src="{% static '/profile/js/theme.js' %}"></script>
</body>
</html>